#contact{
    section{
        margin-top:100px;
        margin-bottom:30px;

        h1{
            float:left;
            width:100%;
            text-align:center;
        }

        p{

            a{
                color:#c5871d;
                text-decoration:none;
            }

            @media screen and (max-width: 1024px) and (min-width: 768px){
                font-size:em(15);

                &.smaller{
                    width:25%;
                }
            }

            @media screen and (max-width: 767px){
                width:100%;
                margin:0 0 10px 0;
                line-height:1.3em;
            }
        }
    }
}